.bedankt-container {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 12px;
  text-align: center;
}

.bedankt-container ul {
  text-align: left;
  list-style: none;
  padding: 0;
}

.terug-btn {
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bolder;
  border: 3px solid #2B2D42;
  color: #2B2D42;
  background: none;
  transition: 0.5s ease;
  cursor: pointer;
}

.terug-btn:hover {
  border-color: #D41444;
  color: #D41444;
}