.background {
    background: url(../images/Group7@2x.png), url(../images/MaskGroup6@2x.png), url(../images/Group9.png);
    background-size: contain, contain, 47%;
    background-position: -3px center, calc(100% + 30px) calc(100% + 20px), calc(80%) ;




    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    color: white;
    width: auto;
    height: 80vh;
    background-repeat: no-repeat;
    margin: 20px;
    background-color: white;
    border-radius: 20px;

}




#auth0-login-box {
  width: 80%;
  max-width: 400px;
  min-width: 250px;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 26%; /* duwt de box naar rechts in zijn container */
}


.auth0-lock-content-wrapper{
        border: solid 5px;
        border-color: #2b2d42;

}