#map{
    width: 768px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 3%;
}
.info.legend {
    background: white;
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#search-container {
    text-align: center;
    margin-top: 20px;
}
#search-input {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-left: 5px;
}
