.background {
    display: flex;


    justify-content: flex-end;
    width: auto;
    height: 80vh;
    background-repeat: no-repeat;
    margin: 20px;
    background-color: white;
    border-radius: 20px;

}



.mt-5 {
    margin-top: 2rem;
    display: flex;
    gap: 30px;



}

.mb-4{
    margin-right: 30px;
}

.btn-primary{
    position: absolute;
    right: 3rem;
    margin-top: 1.5rem;
}

.gender-foto{
    width: 10vw;
}