<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Velo App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% block head %}{% endblock %}
</head>
<body>

<header>
  <a href="./"><div class="logo">LOGO</div></a>

  <nav class="nav-links">
    <a href="#">Hoe het werkt</a>
    <a href="#">Tarieven</a>
    <a href="maps">Vind een fiets</a>
    <a href="#">Help</a>
    <a href="#">Contact</a>
    <div class="dropdown">
      <a href="#">Meer ▼</a>
      <div class="dropdown-menu">
        <a href="#">optie 1</a><br>
        <a href="#">optie 2</a>
      </div>
    </div>
  </nav>

  <div class="nav-buttons">
    <a href="/login" class="login">LOGIN</a>
    <a href="/register" class="register">REGISTER</a>
  </div>
</header>

<main>
  {% block content %}{% endblock %}
</main>

{% block scripts %}{% endblock %}
</body>
</html>