{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}

<div class="div1">
  <div class="text-spot">
    <span class="bigtext">ANTWERPEN <span style="color: red">BEWEEGT.</span> <br>JIJ <span style="color: red">OOK?</span></span>
    <span class="smoltext">Jouw rit, jouw stad, jouw tempo.<br>
we need more tekst here, Make some Vélocity <br>
Gebruik Velo voor een dag, een week of een jaar.</span>
    <img style="margin-top: 5px" src="../static/images/component1.svg">
  </div>
</div>

<h1>index pagina</h1>

<div class="div2">
  <div class="blog-slider">hi</div>
</div>
    <img style="margin-top: 5px" src="../static/images/component1.svg">
  </div>
</div>

<script>
  var swiper = new Swiper('.blog-slider', {
      spaceBetween: 30,
      effect: 'fade',
      loop: true,
      mousewheel: {
        invert: false,
      },
      // autoHeight: true,
      pagination: {
        el: '.blog-slider__pagination',
        clickable: true,
      }
    });
</script>

<footer>
  <div class="footerwrapper">
  <div class="fiets-image">
    <img src="#" alt="vrouw op fiets">
  </div>
  <div class="copyright">
    <p>Copyright Velo Antwerpen 2025 ALL Rights Reserved</p>
  </div>
  <div class="contact">
    <h2>CONTACT</h2>
    <ul>
      <li>info@velo-antwerpen.be</li>
      <li>Vosseschijnstraat 16-20 2030 Antwerpen</li>
      <li>+32 (0)3 206 50 30</li>
    </ul>
  </div>
  <div class="socials">
    <ul>
      <li><a href="#">Lin</a></li>
      <li><a href="#">TikT</a></li>
      <li><a href ="#">YT</a></li>
      <li><a href="#">FB</a></li>
      <li><a href="#">Insta</a></li>
    </ul>
  </div>

  </div>
</footer>

{% endblock %}

