{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!--SwiperJS gebruiken, das free en open-source :D-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block content %}

<div class="div1">
  <div class="text-spot">
    <span class="bigtext">ANTWERPEN <span class="clr-red">BEWEEGT.</span> <br>JIJ <span class="clr-red">OOK?</span></span>
    <span class="smoltext">Jouw rit, jouw stad, jouw tempo.<br>
we need more tekst here, Make some Vélocity <br>
Gebruik Velo voor een dag, een week of een jaar.</span>
    <img style="margin-top: 5px" src="../static/images/component1.svg">
  </div>
</div>

<div class="div2 swiper">
  <div id="card-wrapper" class="card-wrapper">
  <ul class="card-slider swiper-wrapper">
    <li class="card-item swiper-slide">
      <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="idk lmao" class="card-image">
      <div class="card-item__content">
        <h1 class="card-item__title">FORMULES EN <span class="clr-red">TARIEVEN</span></h1>
        <img style="width: 90%;" src="../static/images/component1.svg">
        <p class="card-item__text">lorum ipsum and all that good stuff. We got tarifs, we got bikes!
What more could you need? What i need right now is more text here.
I could just put lorum ipsum here but thats boring.
Nothing beats a good copywriting in the morning, yup.
Whoever is reading this, i'm sorry for wasting 3 minutes of your time.
But thanks anyways! :D </p>
        <a href="#"><button class="card-slider__button">KIES JE FORMULE</button></a>
      </div>
      <button class="card-button">-></button>
    </li>
    <li class="card-item swiper-slide">
      <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="idk lmao" class="card-image">
      <div class="card-item__content">
        <h1 class="card-item__title">FORMULES EN <span class="clr-red">TARIEVEN</span></h1>
        <img style="width: 90%;" src="../static/images/component1.svg">
        <p class="card-item__text">lorum ipsum and all that good stuff. We got tarifs, we got bikes!
What more could you need? What i need right now is more text here.
I could just put lorum ipsum here but thats boring.
Nothing beats a good copywriting in the morning, yup.
Whoever is reading this, i'm sorry for wasting 3 minutes of your time.
But thanks anyways! :D </p>
        <button class="card-slider__button">KIES JE FORMULE</button>
      </div>
      <button class="card-button">-></button>
    </li>
    <li class="card-item swiper-slide">
      <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="idk lmao" class="card-image">
      <div class="card-item__content">
        <h1 class="card-item__title">FORMULES EN <span class="clr-red">TARIEVEN</span></h1>
        <img style="width: 90%;" src="../static/images/component1.svg">
        <p class="card-item__text">lorum ipsum and all that good stuff. We got tarifs, we got bikes!
What more could you need? What i need right now is more text here.
I could just put lorum ipsum here but thats boring.
Nothing beats a good copywriting in the morning, yup.
Whoever is reading this, i'm sorry for wasting 3 minutes of your time.
But thanks anyways! :D </p>
        <a href="#"><button class="card-slider__button">KIES JE FORMULE</button></a>
      </div>
      <button class="card-button">-></button>
    </li>
  </ul>
</div>
  <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
</div>

<script>
  const button = document.querySelector('.card-slider__button');
  const wrapper = document.querySelector('.card-item');

  button.addEventListener('mousedown', () => {
    wrapper.classList.add('pressed');
  });

  button.addEventListener('mouseup', () => {
    wrapper.classList.remove('pressed');
  });

  button.addEventListener('mouseleave', () => {
    wrapper.classList.remove('pressed');
  });
</script>

<div class="div3">
  <div class="text-spot">
    <h1 class="bigtext"><span class="clr-red">HULP</span> NODIG?</h1>
    <span class="smoltext">Jouw rit, jouw stad, jouw tempo.<br>
we hebben meer tekst nodig. Maak een beetje Vélocity <br>
Gebruik Velo voor een dag, een week of een jaar.</span>
    <img style="margin-top: 5px" src="../static/images/component1.svg">
  </div>
</div>

<!--ook script van SwiperJS toevoegen natuurlijk-->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="../static/js/swiper.js"></script>

<footer id="footer">
  <div class="footerwrapper">
  <div class="footerfiets">
    <img src="../static/images/fietsvrouw.svg" style=" width: 450px">
  </div>
  <div class="copyright">
    <p>Copyright Velo Antwerpen 2025 ALLE RECHTEN VOORBEHOUDEN</p>
  </div>
  <div class="contact">
    <h2 style="font-size:40px; margin-bottom:10px">CONTACT</h2>
    <ul style="padding:0">
      <li>info@velo-antwerpen.be</li>
      <li>Vosseschijnstraat 16-20 2030 Antwerpen</li>
      <li>+32 (0)3 206 50 30</li>
    </ul>
  </div>
  <div class="socials">
    <ul>
      <li><a href="#"><img src="../static/images/Logo_Linkedin.png"></a></li>
      <li><a href="#"><img src="../static/images/Logo_Tiktok.png"></a></li>
      <li><a href ="#"><img src="../static/images/Logo_Facebook.png"></a></li>
      <li><a href="#"><img src="../static/images/Logo_Youtube.png"></a></li>
      <li><a href="#"><img src="../static/images/Logo_Insta.png"></a></li>
    </ul>
  </div>

  </div>
</footer>

{% endblock %}

