{% extends "base.html" %}


{% block head %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}






{% block content %}

    <div class="background">


    <div class="container_mt-5">
    <h2 class="mb-4">Profiel</h2>

    {% if user.profile_picture %}
    <div class="mb-4">
        <label class="form-label">Profielfoto:</label><br>
        <img src="{{ url_for('static', filename='uploads/' + user.profile_picture) }}" alt="Uw profielfoto" class="img-thumbnail" style="max-width: 200px;">
    </div>
    {% else %}
    <div class="mb-4">
        <label class="form-label">Profielfoto:</label><br>
        <img src="{{ url_for('static', filename='uploads/' + user.profile_picture) }}" alt="Uw profielfoto" class="img-thumbnail" style="max-width: 200px;">

    </div>
    {% endif %}

    <a href="{{ url_for('routes.instellingen') }}">
        <button type="button" class="btn btn-primary">Instellingen</button>
    </a>
</div>









    </div>


{% endblock %}
