{% extends "base.html" %}

{% block title %}{{ _('Tarieven') }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tarieven.css') }}">
{% endblock %}

{% block content %}
{% if session['Gebruiker'] and session['Gebruiker'].get('abonnement') and session['Gebruiker']['abonnement'] != 'Geen abonnement' %}
  <div style="background-color: #fff3cd; color: #856404; padding: 15px; margin: 20px auto; border: 1px solid #ffeeba; border-radius: 8px; max-width: 800px; text-align: center;">
    Je hebt al een {{ session['Gebruiker']['abonnement'] | lower }}.
  </div>
{% endif %}

<div class="div4">
    <div id="card-wrapper" class="card wrapper">
    <ul class="card-slider swiper-wrapper">
        <li class="card-item swiper-slide">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" class="card-image">
            <div class="card-item__content">
                <h1 class="card-item__title" style="margin-bottom: 5px;">{{ _('DAGPAS') }}</h1>
                <img class="streep" style="width: 30%;" src="../static/images/streep.svg">
                <p class="card-item__text">{{ _('lorum ipsum and all that good stuff. We got tarifs, we got bikes!') }}<br>
                {{ _('What more could you need? What I need right now is more text here.') }}<br>
                {{ _('I could just put lorum ipsum here but that’s boring.') }}<br>
                {{ _('Nothing beats a good copywriting in the morning, yup.') }}<br>
                {{ _('Whoever is reading this, I\'m sorry for wasting 3 minutes of your time.') }}<br>
                {{ _('But thanks anyways! :D') }}</p>
                <a href="/tarieven/dagpas"><button class="card-slider__button">{{ _('KOOP NU') }}</button></a>
            </div>
        </li>
        <li class="card-item swiper-slide">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" class="card-image">
            <div class="card-item__content">
                <h1 class="card-item__title" style="margin-bottom: 5px;">{{ _('WEEKPAS') }}</h1>
                <img class="streep" style="width: 30%;" src="../static/images/streep.svg">
                <p class="card-item__text">{{ _('lorum ipsum and all that good stuff. We got tarifs, we got bikes!') }}<br>
                {{ _('What more could you need? What I need right now is more text here.') }}<br>
                {{ _('I could just put lorum ipsum here but that’s boring.') }}<br>
                {{ _('Nothing beats a good copywriting in the morning, yup.') }}<br>
                {{ _('Whoever is reading this, I\'m sorry for wasting 3 minutes of your time.') }}<br>
                {{ _('But thanks anyways! :D') }}</p>
                <a href="/tarieven/weekpas"><button class="card-slider__button">{{ _('KOOP NU') }}</button></a>
            </div>
        </li>
        <li class="card-item swiper-slide">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" class="card-image">
            <div class="card-item__content">
                <h1 class="card-item__title" style="margin-bottom: 5px;">{{ _('JAARKAART') }}</h1>
                <img class="streep" style="width: 30%;" src="../static/images/streep.svg">
                <p class="card-item__text">{{ _('lorum ipsum and all that good stuff. We got tarifs, we got bikes!') }}<br>
                {{ _('What more could you need? What I need right now is more text here.') }}<br>
                {{ _('I could just put lorum ipsum here but that’s boring.') }}<br>
                {{ _('Nothing beats a good copywriting in the morning, yup.') }}<br>
                {{ _('Whoever is reading this, I\'m sorry for wasting 3 minutes of your time.') }}<br>
                {{ _('But thanks anyways! :D') }}</p>
                <a href="/tarieven/jaarkaart"><button class="card-slider__button">{{ _('KOOP NU') }}</button></a>
            </div>
        </li>
    </ul>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}
