{% extends "base.html" %}

{% block title %}Tarieven{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tarieven.css') }}">
{% endblock %}

{% block content %}

<div class="div4">
    <div id="card-wrapper" class="card wrapper">
    <ul class="card-slider swiper-wrapper">
        <li class="card-item swiper-slide">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" class="card-image">
            <div class="card-item__content">
                <h1 class="card-item__title" style="margin-bottom: 5px;">DAGPAS</h1>
                <img class="streep" style="width: 30%;" src="../static/images/streep.svg">
                <p class="card-item__text">lorum ipsum and all that good stuff. We got tarifs, we got bikes!
What more could you need? What i need right now is more text here.
I could just put lorum ipsum here but thats boring.
Nothing beats a good copywriting in the morning, yup.
Whoever is reading this, i'm sorry for wasting 3 minutes of your time.
                    But thanks anyways! :D</p>
                <a href="/tarieven/dagpas"><button class="card-slider__button">KOOP NU</button></a>
            </div>
        </li>
        <li class="card-item swiper-slide">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" class="card-image">
            <div class="card-item__content">
                <h1 class="card-item__title" style="margin-bottom: 5px;">WEEKPAS</h1>
                <img class="streep" style="width: 30%;" src="../static/images/streep.svg">
                <p class="card-item__text">lorum ipsum and all that good stuff. We got tarifs, we got bikes!
What more could you need? What i need right now is more text here.
I could just put lorum ipsum here but thats boring.
Nothing beats a good copywriting in the morning, yup.
Whoever is reading this, i'm sorry for wasting 3 minutes of your time.
                    But thanks anyways! :D</p>
                <a href="/tarieven/weekpas"><button class="card-slider__button">KOOP NU</button></a>
            </div>
        </li>
        <li class="card-item swiper-slide">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" class="card-image">
            <div class="card-item__content">
                <h1 class="card-item__title" style="margin-bottom: 5px;">JAARKAART</h1>
                <img class="streep" style="width: 30%;" src="../static/images/streep.svg">
                <p class="card-item__text">lorum ipsum and all that good stuff. We got tarifs, we got bikes!
What more could you need? What i need right now is more text here.
I could just put lorum ipsum here but thats boring.
Nothing beats a good copywriting in the morning, yup.
Whoever is reading this, i'm sorry for wasting 3 minutes of your time.
                    But thanks anyways! :D</p>
                <a href="/tarieven/jaarkaart"><button class="card-slider__button">KOOP NU</button></a>
            </div>
        </li>
    </ul>
    </div>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}
